In [1]:
# This script vectorize reviews for restaurants

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
import json
import numpy as np
import pandas as pd

In [8]:
restaurant_id = []
restaurant_review = []

with open ("../parsed.dataset/restaurant.keywords.json", 'r') as f:
    restaurants = json.load(f)
    for k,v in restaurants.items():
        restaurant_id.append(k)
        restaurant_review.append(v)

In [12]:
assert len(restaurant_id) == len(restaurant_review) == 59371

In [50]:
vectorizer = TfidfVectorizer(input=restaurant_review, lowercase=True, min_df=300, ngram_range=(1,1))
X = vectorizer.fit_transform(restaurant_review)

In [51]:
matrix = X.toarray()

In [52]:
matrix.shape

(59371, 4660)

In [66]:
tf_idf = pd.DataFrame(matrix, columns = vectorizer.get_feature_names())

In [67]:
tf_idf.index = restaurant_id
tf_idf.index.name = "restaurant_id"

In [68]:
tf_idf.head()

,00,10,100,1000,101,10pm,11,11pm,12,13,...,ça,également,étaient,étais,était,étions,étoiles,été,êtes,être
restaurant_id,,,,,,,,,,,,,,,,,,,,,
ikCg8xy5JIg_NGPx-MSIDA,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eU_713ec6fTGNO4BegRaww,0.0,0.022249,0.0,0.0,0.0,0.0,0.0,0.000000,0.034014,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3fw2X5bZYeW9xCz_zGhOHg,0.0,0.011526,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zvO-PJCpNk4fgAVUnExYAA,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8mIrX_LrOnAqWsB5JrOojQ,0.0,0.010463,0.0,0.0,0.0,0.0,0.0,0.031521,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
tf_idf.to_csv("../../tdidf_vectors.tsv", sep = ",", index = True)

In [ ]:
# try reading

In [70]:
tf_idf = pd.read_csv("../../tdidf_vectors.tsv", sep = ",")

In [71]:
tf_idf.head()

,restaurant_id,00,10,100,1000,101,10pm,11,11pm,12,...,ça,également,étaient,étais,était,étions,étoiles,été,êtes,être
0,ikCg8xy5JIg_NGPx-MSIDA,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,eU_713ec6fTGNO4BegRaww,0.0,0.022249,0.0,0.0,0.0,0.0,0.0,0.000000,0.034014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3fw2X5bZYeW9xCz_zGhOHg,0.0,0.011526,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,zvO-PJCpNk4fgAVUnExYAA,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8mIrX_LrOnAqWsB5JrOojQ,0.0,0.010463,0.0,0.0,0.0,0.0,0.0,0.031521,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0